{
  "taskId": null,
  "taskName": null,
  "taskPageUrl": null,
  "issueId": null,
  "issueUrl": null,
  "creativePageUrl": null,
  "reflectionPageUrl": null,
  "archivePageUrl": null,
  "projectId": null,
  "projectName": null,
  "projectPageUrl": null,
  "activeContextPageUrl": null,
  "progressPageUrl": null,
  "productContextPageUrl": null,
  "systemPatternsPageUrl": null,
  "techContextPageUrl": null,
  "styleGuidePageUrl": null,
  "projectsDataSourceUrl": null,
  "tasksDataSourceUrl": null
}
